.card {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    background-color: #FFFFFF;
}

.card__image {
    max-width: 100%;
    display: block;
}

.card__image:hover {
    cursor: pointer;
}

.card__delete-button {
    background: transparent url(../images/trash-icon.svg) center no-repeat;
    border: none;
    padding: 0;
    width: 18px;
    height: 20px;
    z-index: 1;
    position: absolute;
    top: 18px;
    right: 15px;
}

.card__delete-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.card__title {
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    line-height: 29px;
}

.card__like-button {
    background: transparent url(../images/like-button-inactive.svg) center no-repeat;
    border: none;
    width: 21px;
    height: 19px;
    padding: 0;
    flex: 0 0 21px;
}

.card__like-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.card__like-button_active {
    background: transparent url(../images/like-button-active.svg) center no-repeat;
    border: none;
    width: 21px;
    height: 19px;
    padding: 0;
    flex: 0 0 25px;
}