.footer {
    padding: 67px 0 60px 0;
}

.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    color: #545454;
    font-style: normal;
    font-size: 18px;
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 48px auto 36px 19px;
        padding: 0;
    }
    .footer__copyright {
        font-family: 'Inter', Arial, sans-serif;
        font-weight: 400;
        color: #545454;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        margin: 0;
    }
}