.form {
    border: none;
    padding: 0;
    margin: 0;
}

.form__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 83%;
    color: #000000;
    font-size: 14px;
    line-height: 17px;
    margin: 29px 36px 0 36px;
    overflow: hidden;
    padding: 0 0 11px 0;
}

.form__input:last-child {
    margin-bottom: 0;
}

.form__button {
    background: #000000;
    border-radius: 2px;
    width: 83%;
    height: 50px;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 43px 36px 0 36px;
    border-style: none;
    padding: 0;
    cursor: pointer;
    margin-bottom: 36px;
}

.form__button:hover {
    opacity: 0.8;
} 

@media screen and (max-width: 488px) {
    .form__input {
        margin: 0 7.8% 9.3% 7.8%;
    }
    .form__button {
        margin: 14% 7.8% 7.8% 7.8%;
        height: 46px;
        font-size: 14px;
    }
}

.form__error {
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    position: inherit;
    top: calc(100% - 5px);
    left: 0;
    transition: opacity 0.3s;
    margin: 0;
    padding: 0 36px 0 36px;
}

.form__input_type_error {
    border-bottom: 1px solid #ff0000;
}

.form__button_disabled {
    cursor: default;
}

.form__button_disabled:hover {
    opacity: 0.2;
} 