.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 45px 0 41px 0;
    margin: 0 auto 0 auto;
    width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
    width: 173px;
    height: 33px;
    background: transparent url(../images/around-the-us-logo.svg) center no-repeat;
}

@media screen and (max-width: 918px) {
    .header {
        max-width: calc(100% - 4.3%);
    }
}

@media screen and (max-width: 488px) {
    .header {
        max-width: 100%;
        padding-top: 28px;
        padding-bottom: 32px;
    }
    .header__logo {
        margin: 0 0 0 27px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 126px;
        height: 24px;
        margin: 0 auto 0 27px;
    }
}