.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.header__logo {
    width: 173px;
    height: 33px;
}

.header__divider {
    margin-top: 41px;
    margin-bottom: 0;
    border-bottom: 1px solid #545454;
}