.modal {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

.modal__container {
    background: #FFFFFF;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    margin: auto;
    padding: 0;
}

.modal_opened {
    display: flex;
}

.modal__title {
    color: #000000;
    font-weight: 900;
    margin: 36px 36px 54px 36px;
}

.modal__form-field {
    color: #000000;
}

.modal__close-button {
    background: transparent url("../images/close-icon.svg") center no-repeat;
    background-size: 40px 40px;
    border: none;
    position: absolute;
    left: 50%;
    top: 10%;
    height: 40px;
    width: 40px;
}