.modal {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.modal__container {
    background: #FFFFFF;
    width: 430px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    margin: auto;
    padding: 0;
    position: relative;
}

.modal_opened {
    display: flex;
}

.modal__title {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    color: #000000;
    font-weight: 900;
    margin: 34px 36px 50px 36px;
}

.modal__form {
    padding: 0;
    margin: 0;
}

.modal__form-field {
    color: #000000;
}

.modal__close-button {
    background: transparent url("../images/close-icon-large.svg") center no-repeat;
    background-size: 40px 40px;
    border: none;
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    padding: 0;
    top: -40px;
    right: -45px;
}

.modal__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 488px) {
    .modal__container {
        width: 282px;
    }
    .modal__close-button {
        background: transparent url("../images/close-icon-small.svg") center no-repeat;
        top: -35px;
        right: -15px;
    }
    .modal__title {
        font-size: 18px;
        line-height: 22px;
        margin: 8% 7.8% 27% 7.8%;
    }

}