.profile {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 36.25px 0 47.25px 0;
}

.profile__image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 0 29px 0 0;
}

.profile__info {
    display: grid;
    grid-template-areas:
        "name button"
        "tag tag";
    grid-template-columns: minmax(auto, 373px) auto;
    grid-gap: 9px 17px;
    margin: 0;
}

.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    grid-area: name;
    letter-spacing: 1.56px;
}

.profile__tag {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    grid-area: tag;
}

.profile__edit-button {
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    background: transparent url("../images/edit-button.svg") center no-repeat;
    background-size: 10px 10px;
    border: 1px solid #FFFFFF;
    grid-area: button;
    align-self: center;
}

.profile__edit-button:hover {
    cursor: pointer;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    background: transparent url("../images/add-button.svg") center no-repeat;
    border: 1px solid #FFFFFF;
    background-size: 22px 22px;
    margin-left: auto;
}

.profile__add-button:hover {
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        background-size: 7.5px 7.5px;
    }
    .profile__add-button {
        background-size: 16px 16px;
    }
}