.profile {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    align-items: center;
    margin: 36.25px auto 47.25px auto;
    padding: 0;
    width: 880px;
}

.profile__image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 0 29px 0 0;
}

.profile__info {
    display: grid;
    grid-template-areas:
        "name button"
        "tag tag";
    grid-template-columns: minmax(auto, 373px) auto;
    grid-gap: 8px 17px;
    margin: 0;
}

.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    grid-area: name;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.profile__tag {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    grid-area: tag;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 373px;
}

.profile__edit-button {
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    background: transparent url("../images/edit-button.svg") center no-repeat;
    background-size: 10px 10px;
    border: 1px solid #FFFFFF;
    grid-area: button;
    align-self: center;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.profile__add-button {
    padding: 0;
    width: 150px;
    height: 50px;
    background: transparent url("../images/add-button.svg") center no-repeat;
    border: 2px solid #FFFFFF;
    background-size: 22px 22px;
    margin-left: auto;
    border-radius: 2px;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 918px) {
    .profile {
        max-width: calc(100% - 4.3%);
    }
}

@media screen and (max-width: 735px) {
    .profile__image {
        margin: 0 20px 0 0;
    }
    .profile__name {
        font-size: 33px;
        line-height: 35px;
    }
    .profile__tag {
        font-size: 18px;
        line-height: 20px;
        max-width: 215px;
    }
    .profile__add-button {
        width: 50px;
        height: 50px;
    }
    .profile__info {
        grid-template-columns: minmax(auto, 224px) auto;
    }
}

@media screen and (max-width: 488px) {
    .profile {
        display: flex;
        flex-direction: column;
        margin: 38.25px auto 36px auto;
        max-width: calc(100% - 11.9%);
    }
    .profile__image {
        margin: 0;
    }
    .profile__info {
        margin-top: 30px;
        grid-template-columns: minmax(auto, 224px) auto;
        grid-gap: 8px 5px;
        justify-items: center;
    }
    .profile__name {
        font-size: 22px;
        line-height: 27px;
    }
    .profile__tag {
        margin: 0 auto 36px auto;
        font-size: 14px;
        line-height: 17px;
        max-width: 175px;
    }
    .profile__add-button {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        background-size: 7.5px 7.5px;
        height: 18px;
        width: 18px;
    }
    .profile__add-button {
        background-size: 16px 16px;
    }
}